@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font-text: "Roboto", "Arial", sans-serif;
    --primary-color: rgb(15,15,15);
    --second-color: rgb(34,34,34);
    --text-color: rgb(255,255,255);
    --icon-color: rgba(255, 255, 255, 0.89);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-text);
}

body{
    background-color: var(--primary-color);
}

input{
    background-color: var(--primary-color);
    border: none;
}

button{
    background-color: var(--primary-color);
    border: none;
}

.bi{
    color: var(--icon-color);
    font-size: 20px
}